$heading: #78cc6d;
$bgColor: #26262d;
$bgSecondaryColor: #31313a;
$textPrimary: rgba(255, 255, 255, 0.55);
$headingSecondary: rgba(255, 255, 255, 0.85);
$borderColor: transparentize($textPrimary, 0.2);