$heading: #F9826C;
$bgColor: #0D1117;
$bgSecondaryColor: #161B22;
$textPrimary: rgba(255, 255, 255, 0.55);
$headingSecondary: rgba(255, 255, 255, 0.85);
$borderColor: transparentize($textPrimary, 0.2);