@import "../../styles/colors";

.infoWrapper {
  background-color: $bgSecondaryColor;
  margin: 12px 0px;
  width: 60%;
  padding: 30px 30px 0 30px;
  border-radius: 8px;
  margin-left: -8px;
  text-align: left;
  letter-spacing: 1px;
  overflow-y: scroll;
  max-height: 500px;
  @media only screen and (max-width: 768px) {
    width: auto;
    padding: 30px 16px 50px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__header {
    color: $headingSecondary;
    font-size: 20px;
    font-weight: 600;
    padding: 30px 0px;
    text-align: left;
    border-bottom: 0.5px solid $borderColor;

    &:first-child {
      padding: 0 0 30px;
    }
  }

  &__text {
    padding-top: 12px;
    font-size: 14px;
  }

  &__bottomSection {
    padding: 12px 0px;
  }
}
