.progressBar {
  margin: 20px 0px;
  &__name {
    font-size: 14px;
    margin-bottom: 8px;
  }
  &__bar {
    background-color: #3e4148;
    width: 100%;
    height: 4px;
    border-radius: 8px;
    &--highlight {
      background-color: #78cc6d;
      height: 4px;
      border-radius: 8px;
    }
  }
}
